body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2 {
    margin-top: 20px;
}
h1{
    text-align: center;
}

.media-container {
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

.audio-container,
.video-container,
.image-container {
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

audio, video, img {
    display: block;
    margin-top: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
