body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #73b1c1; 
}


h1, h2 {
    margin-top: 20px;
}
h1{
    text-align: center;
}

.media-container {
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    border-color: black ;
    
}

.audio-container,
.video-container,
.image-container {
    margin-bottom: 40px;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 5px;
}

audio, video, img {
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #ad5389;
    background: linear-gradient(to right, #0f296c, #2a1eac, #15154c);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
  }
  
  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }
  
  button:hover span {
    transform: translateX(7px);
  }
  
/* Media Queries */
@media only screen and (max-width: 600px) {
    .media-container {
        padding: 10px;
    }

    audio, video, img {
        width: 100%;
    }
}
